.bg-primary {
    background: $bg-primary;
  }
  
  .bg-secondary {
    background: $bg-secondary;
  }
  
  .bg-success {
    background: $bg-success;
  }
  
  .bg-lime {
    background: $bg-lime;
  }
  
  .bg-danger {
    background: $bg-danger;
  }
  
  .bg-warning {
    background: $bg-warning;
  }
  
  .bg-info {
    background: $bg-info;
  }
  
  .bg-dark {
    background: $bg-dark;
  }
  
  .bg-white {
    background: $bg-white;
  }
  