.rounded-2{
    border-radius: $br-3
  }
  
  .rounded-4{
    border-radius: $br-4
  }
  
  .rounded-6{
    border-radius: $br-6
  }
  
  .rounded-8{
    border-radius: $br-8
  }
  
  .rounded-10{
    border-radius: $br-10
  }
  
  .rounded-12{
    border-radius: $br-12
  }
  
  .rounded-14{
    border-radius: $br-14
  }
  
  .rounded-16{
    border-radius: $br-16
  }
  
  .rounded-18{
    border-radius: $br-18
  }
  
  .rounded-20{
    border-radius: $br-20
  }
  