.text-primary {
    color: $text-primary;
  }
  
  .text-secondary {
    color: $text-secondary;
  }
  
  .text-success {
    color: $text-success;
  }
  
  .text-danger {
    color: $text-danger;
  }
  
  .text-warning {
    color: $text-warning;
  }
  
  .text-info {
    color: $text-info;
  }
  
  .text-dark {
    color: $text-dark;
  }
  
  .text-white {
    color: $text-white;
  }
  
  .text-transparent {
    color: $text-transparent;
  }

  
  