.flex {
    display: flex;
  }
  
  .block {
    display: block;
  }
  
  .grid {
    display: grid;
  }
  
  .inline-block {
    display: inline-block;
  }
  
  .inline {
    display: inline;
  }
  
  .none {
    display: none;
  }