.justify-center {
    justify-content: center;
  }
  
  .justify-end {
    justify-content: end;
  }
  
  .justify-start {
    justify-content: start;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .justify-around {
    justify-content: space-around;
  }
  
  .justify-evenly {
    justify-content: space-evenly;
  }
  
  .item-start {
    align-items: flex-start;
  }
  
  .item-end {
    align-items: flex-end;
  }
  
  .item-center {
    align-items: center;
  }
  
  .item-stretch {
    align-items: stretch;
  }
  
  