.gap-2 {
    gap: 4px;
  }
  
  .gap-4 {
    gap: 8px;
  }
  
  .gap-6 {
    gap: 12px;
  }
  
  .gap-8 {
    gap: 16px;
  }
  
  .gap-10 {
    gap: 20px;
  }
  
  .gap-12 {
    gap: 24px;
  }
  
  .gap-14 {
    gap: 28px;
  }
  
  .gap-16 {
    gap: 32px;
  }
  
  .gap-18 {
    gap: 36px;
  }
  
  .gap-20 {
    gap: 40px;
  }
  
  .gap-x-2 {
    column-gap: 4px;
  }
  
  .gap-x-4 {
    column-gap: 8px;
  }
  
  .gap-x-6 {
    column-gap: 12px;
  }
  
  .gap-x-8 {
    column-gap: 16px;
  }
  
  .gap-x-10 {
    column-gap: 20px;
  }
  
  .gap-x-12 {
    column-gap: 24px;
  }
  
  .gap-x-14 {
    column-gap: 28px;
  }
  
  .gap-x-16 {
    column-gap: 32px;
  }
  
  .gap-x-18 {
    column-gap: 36px;
  }
  
  .gap-x-20 {
    column-gap: 40px;
  }
  
  .gap-y-2 {
    row-gap: 4px;
  }
  
  .gap-y-4 {
    row-gap: 8px;
  }
  
  .gap-y-6 {
    row-gap: 12px;
  }
  
  .gap-y-8 {
    row-gap: 16px;
  }
  
  .gap-y-10 {
    row-gap: 20px;
  }
  
  .gap-y-12 {
    row-gap: 24px;
  }
  
  .gap-y-14 {
    row-gap: 28px;
  }
  
  .gap-y-16 {
    row-gap: 32px;
  }
  
  .gap-y-18 {
    row-gap: 36px;
  }
  
  .gap-y-20 {
    row-gap: 40px;
  }
  