.m-1 {
  margin: $unit-1;
}
.m-2 {
  margin: $unit-2;
}
.m-3 {
  margin: $unit-3;
}
.m-4 {
  margin: $unit-4;
}
.m-5 {
  margin: $unit-5;
}
.m-6 {
  margin: $unit-6;
}
.m-7 {
  margin: $unit-7;
}
.m-8 {
  margin: $unit-8;
}
.m-9 {
  margin: $unit-9;
}
.m-10 {
  margin: $unit-10;
}
.m-11 {
  margin: $unit-11;
}
.m-12 {
  margin: $unit-12;
}
.m-13 {
  margin: $unit-13;
}
.m-14 {
  margin: $unit-14;
}
.m-15 {
  margin: $unit-15;
}
.m-16 {
  margin: $unit-16;
}
.m-17 {
  margin: $unit-17;
}

.my-1 {
  margin: $unit-1 0;
}
.my-2 {
  margin: $unit-2 0;
}
.my-3 {
  margin: $unit-3 0;
}
.my-4 {
  margin: $unit-4 0;
}
.my-5 {
  margin: $unit-5 0;
}
.my-6 {
  margin: $unit-6 0;
}
.my-7 {
  margin: $unit-7 0;
}
.my-8 {
  margin: $unit-8 0;
}
.my-9 {
  margin: $unit-9 0;
}
.my-10 {
  margin: $unit-10 0;
}
.my-11 {
  margin: $unit-11 0;
}
