.padd-1{
    padding: 2px;
}

.padd-2{
    padding: 4px
}

.padd-3{
    padding: 6px
}   

.padd-4{
    padding: 8px
}

.padd-5{
    padding: 10px
}

.padd-6{
    padding: 12px
}

.padd-7{
    padding: 14px
}

.padd-8{
    padding: 16px
}

.padd-9{
    padding: 18px
}

.padd-10{
    padding: 20px
}

.padd-11{
    padding: 22px
}

.padd-12{
    padding: 24px
}

.padd-13{
    padding: 26px
}

.padd-14{
    padding: 28px
}

.padd-15{
    padding: 30px
}

